body{
  background: #c0c5ce;
}
header{
  margin-left: 7em;
  position: relative;
  bottom: 3em;
}
.imgHeader{
  float: left;
  width: 200px;
}
.container{
  width: 90%;
  margin-top: 3em;
  text-align: center;
  background-color: #65737e;
  padding: 4%;
}
.container img{
  max-width: 250px;
  padding: 4px;
}
#elementos{
  padding: 2%;
}
#elementos .elemento{
  margin: 10px;
  border: 2px solid #c0c5ce;
  display: block;
  padding: 10px;
  text-align: left;
  position: relative;
  margin: 2%;
}
#elementos .elemento a{
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  padding: 20px;
  position: absolute;
  top: 30%;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media (min-width: 200px) and (max-width: 600px) {
  header{
    margin-left: 1em;
  }
  .imgHeader{
    width: 50px;
  }
  #buscar-gif{
    margin-top: 2em;
  }

}